@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'); /* font-family: 'Work Sans', sans-serif; */
/* Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: #2e2e2e;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
}
h1{
    color: rgb(234, 204, 194);
    padding-left: 6vh;
    font-size: 3em;
    letter-spacing: 3px;
    margin-top: 20vh;
    margin-bottom: 12vh;
}
p{
    color: rgb(115, 115, 115);
    padding-left: 6vh;
    line-height: 3vh;
    font-size: 1.3em;
}
/* anfang header */
.fixed-header{
    width: 115%;
    position: fixed;        
    padding: 30px 0;
    color: #fff;
    top: 0;
}
.container{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin: 0 5%;
}
.fixed-header{
    width: 90%;
    position: fixed;        
    padding: 30px 0;
    color: #fff;
    top: 0;
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: unset;
    color: rgb(115, 115, 115);
}
nav a:hover{
    transition:color 1s ease;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: rgb(234, 204, 194);
}
.logo{
    width: 50px;
}
.leftGap{
    padding-left: 60px;
}
.rightGap{
    padding-right: 60px;
}
/* ende header */
/* anfang main */
main{
    display: grid;
    grid-template-columns: 60% 40%;
}
img{
width: 100%;
height: 124%;
}
p:nth-of-type(1){
    padding-bottom: 2vh;
    width: 83%;
}
p:nth-of-type(2){
    padding-bottom: 2vh;
    width: 83%;
}
/* ende main */
/* anfang sidenav */
.sidenav {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 19vh;
    left: 57px;
    overflow-x: hidden;
    padding: 8px 0;
}
.sidenav a {
    padding: 77px 10px 6px 16px;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bold;
    color: #867772;
    display: block;
}
.sidenav a:nth-of-type(3){
    color: #fff;
}
.sidenav a:hover{
    color: #fff;
}
/* ende sidenav */